<div><%= flash[:success] %></div>

<div><%= request.session.to_hash %></div>

<% if user_signed_in? %>
  <div><%= current_user.to_json %></div>
  <%= button_to 'Sign Out', basic_sign_out_path, method: :delete %>
<% else %>
  <%= link_to 'Sign In', basic_sign_in_path %>
<% end %>
