<!DOCTYPE html>
<html>
  <head>
    <title>Playground</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="antialiased font-sans bg-gray-50">
    <%= render partial: "layouts/header" %>
    <%= content_for?(:content) ? yield(:content) : yield %>
    <%= render partial: "layouts/footer" %>
  </body>
</html>
