<%= form_with model: @user_reset_password, url: reset_password_path, html: {class: "pure-form pure-form-stacked page-block user-reset-password-form" }, builder: Dummy::FormBuilder do |f| %>
  <%= field_set_tag "Search your account" do %>

    <%= f.field_group :identifier, class: "pure-control-group" do %>
      <%= f.label :identifier %>
      <%= f.text_field :identifier, class: "pure-input-1" %>
      <%= f.error_messages :identifier %>
    <% end %>

  <% end %>

  <%= link_to @url, @url if @url %>

  <div class="pure-controls">
    <%= f.submit "Search", class: "pure-button pure-button-primary" %>
  </div>
<% end %>
