<%= form_with model: @user_reset_password, url: reset_password_path, method: :patch, html: {class: "pure-form pure-form-stacked account-password-form" }, builder: Dummy::FormBuilder do |f| %>
  <%= field_set_tag "Reset Password" do %>
    <%= f.hidden_field :token %>

    <%= f.field_group :password, class: "pure-control-group" do %>
      <%= f.label :password %>
      <%= f.password_field :password, class: "pure-input-1" %>
      <%= f.error_messages :password %>
    <% end %>

    <%= f.field_group :password_confirmation, class: "pure-control-group" do %>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: "pure-input-1" %>
      <%= f.error_messages :password_confirmation %>
    <% end %>

  <% end %>

  <div class="pure-controls">
    <%= f.button "Reset", type: :submit, class: "pure-button pure-button-primary" %>
  </div>
<% end %>
