<!DOCTYPE html>
<html>
  <head>
    <title><%= title ||= "Dummy" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <%= content_tag(:body, body_options ||= {}) { yield } %>
</html>
