<%= form_with model: @user, url: sign_in_path, method: :post, html: { class: "pure-form pure-form-stacked sign-in-form" }, builder: Dummy::FormBuilder do |f| %>
    <%= field_set_tag "Sign In" do %>
        <%= f.field_group :identifier, class: "pure-control-group" do %>
            <%= f.label :identifier %>
            <%= f.text_field :identifier, placeholder: "Email", class: "pure-input-1" %>
            <%= f.error_messages :identifier %>
        <% end %>

        <%= f.field_group :password, class: "pure-control-group" do %>
            <%= f.label :password %>
            <%= f.password_field :password, placeholder: "Password", class: "pure-input-1" %>
            <%= f.error_messages :password %>
        <% end %>

        <%= f.field_group :password, class: "pure-controls pure-g" do %>
            <%= f.label :remember_me, class: "pure-checkbox  pure-u-1-2" do %>
                <%= f.check_box :remember_me %> remember me
            <% end %>

            <div class=" pure-u-1-2">
              <%= link_to "Forget password?", new_reset_password_path, class: "forget-password" %>
            </div>
        <% end %>
    <% end %>

    <%= f.submit "Sign In", class: "pure-button pure-input-1 pure-button-primary" %>
<% end %>
