<%= form_with model: @user, scope: :profile, url: account_profile_path, method: :patch, html: {class: "pure-form pure-form-stacked account-profile-form" }, builder: Dummy::FormBuilder do |f| %>
  <%= field_set_tag "Profile" do %>

    <%= f.field_group :email, class: "pure-control-group" do %>
      <%= f.label :email %>
      <%= f.text_field :email, readonly: true, class: "pure-input-1" %>
      <%= f.error_messages :email %>
    <% end %>

  <% end %>

  <div class="pure-controls">
    <%= f.button "Save", type: :submit, class: "pure-button pure-button-primary" %>
  </div>
<% end %>
