<%= form_with model: @user, url: account_password_path, method: :patch, html: {class: "pure-form pure-form-stacked account-password-form" }, builder: Dummy::FormBuilder do |f| %>
  <%= field_set_tag "Password" do %>

    <%= f.field_group :current_password, class: "pure-control-group" do %>
      <%= f.label :current_password %>
      <%= f.password_field :current_password, class: "pure-input-1" %>
      <%= f.error_messages :current_password %>
    <% end %>

    <%= f.field_group :password, class: "pure-control-group" do %>
      <%= f.label :password %>
      <%= f.password_field :password, class: "pure-input-1" %>
      <%= f.error_messages :password %>
    <% end %>

    <%= f.field_group :password_confirmation, class: "pure-control-group" do %>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: "pure-input-1" %>
      <%= f.error_messages :password_confirmation %>
    <% end %>

  <% end %>

  <div class="pure-controls">
    <%= f.button "Change", type: :submit, class: "pure-button pure-button-primary" %>
  </div>
<% end %>
