<div class="space-y-4">
  <% case "email" %>
  <% when "login" %>
    <div>
      <%= form.label :login, class: "block text-sm font-medium text-gray-700" %>
      <%= form.text_field :login, placeholder: "Email / Phone Number / Username", autocomplete: "username", required: true, class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm mt-1" %>
    </div>
  <% when "email" %>
    <div>
      <%= form.label :email, class: "block text-sm font-medium text-gray-700" %>
      <%= form.email_field :email, placeholder: "Email address", autocomplete: "email", required: true, class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm mt-1" %>
    </div>
  <% end %>

  <div>
    <%= form.label :password_attempt, class: "block text-sm font-medium text-gray-700" %>
    <%= form.password_field :password_attempt, placeholder: "Password", autocomplete: "current-password", required: true, class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm mt-1" %>
  </div>
</div>

<div class="flex items-center justify-between">
  <div class="flex items-center">
    <%= form.check_box :remember_me, class: "h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded" %>
    <%= form.label :remember_me, class: "ml-2 block text-sm text-gray-900" %>
  </div>

  <div class="text-sm">
    <a href="#" class="font-medium text-blue-600 hover:text-blue-500">
      Forgot your password?
    </a>
  </div>
</div>

<div>
  <%= form.button type: :submit, class: "group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" do %>
    Sign in
  <% end %>
</div>
